@model OMG_Annalect_DomainModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Change Password</strong>
                    </div>
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <div class="alert alert-success @ViewBag.StatusMessage" role="alert">
                                @ViewBag.StatusMessage
                            </div>
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group row">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-md btn-primary" type="submit">
                                <i class="fa fa-dot-circle-o"></i> Change password
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>