


@model OMG_Annalect_DomainModels.LoginModel
@{
     ViewBag.Title = "Log in";
    Layout = null;
}
@using Microsoft.AspNetCore.Identity
@using OMG_Annalect_DAL_Core.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - OMG-Assessment</title>
    <link href="~/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <link href="~/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/pace.min.css" rel="stylesheet" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/simple-line-icons.css" rel="stylesheet" />

    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
    
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1>Login</h1>
                            <p class="text-muted">Sign In to your account</p>
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "LoginForm", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                                    @*@Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })*@
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                    @*@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })*@
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        @*<button type="submit" class="btn btn-primary px-4">Log in</button>*@
                                        <button type="button" id="loginadmin" class="btn btn-primary px-4">Log in</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a href="@Url.Action("ForgotPassword", "Account")" class="btn btn-link px-0">Forgot password?</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card text-white py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <div>
                                <img src="~/Images/Logo.png" width="300px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

   
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/coreui.min.js"></script>
    <script src="~/js/custom-tooltips.min.js"></script>


    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/perfect-scrollbar.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/sweetalert2.min.js"></script>
   
    <script type="text/javascript">

        $(".form-horizontal").submit(function (e) {
            $("#cover-spin").show();
        });

        $("#loginadmin").click(function () {
            $.ajax({
             url: '@Url.Action("LoginAuthentication", "Account")',
             type: "POST",
                dataType: 'json',               
                success: function (data) {
                    $('#LoginForm').submit()
                },
             error: function (data) {
                 $('#LoginForm').submit()
                }
            });
        })

        $(document).ready(function () {
            $('.datatable').DataTable({ "ordering": false, "language": { "emptyTable": "No Record Found" } }); $('.datatable').attr('style', 'border-collapse: collapse !important');
            $('.select2-multiple').select2({
                theme: 'bootstrap',
                tags: true
            });
            $('.select2-single').select2({
                theme: 'bootstrap'
            });
        });
    </script>
</body>

</html>
